@import 'test';

#spoiled {
  position: absolute;
  transform: translate(100vw, 0);
  transition: transform .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  background-color:black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.show {
    transform: translate(0, 0);
  }

  #spoiler {
    transform: translate(100vw, 0);
    transition: transform .23s cubic-bezier(0.55, 0.085, 0.68, 0.53);

    background-image: url(https://imgflip.com/s/meme/This-Is-Where-Id-Put-My-Trophy-If-I-Had-One.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 100vh;

    #text {
      font-family: @lucky-font;
      color: white;
      text-align: left;
      padding-top: 100px;
      font-size: 60px;
      max-width: 80%;
      margin: auto;
      text-shadow: 0px 0px 7px black, 0px 0px 3px black;
    }

    &.show {
      transform: translate(0, 0);    
    }
  }


  #buttons {
    position: absolute;
    bottom: 0;
    height: 60px;

    btn {
      border: solid 1px black;
      padding: 12px 24px;
      border-radius: 24px;
      margin-left: 24px;
      margin-right: 12px;
      text-transform: uppercase;
      background-color: @nuetral;
      cursor: pointer;
      user-select: none;
      box-shadow: @hot-shadow;
      font-family: @kalam-font;

      &:hover {
        box-shadow: @hot-shadow-up;
        background-color: @primary;
      }
    }
  }
}